<div class="card folder-card">
  <a href="/user/public-folder/{{this._id}}">
    <div class="card-image waves-effect waves-block waves-light">
      <h5>{{this.name}}</h5>
    </div>
  </a>
  <div class="card-content">
    <div class="this-options">
      <div class="folder-edit-delete-buttons ">
      </div>
      {{!-- start of edit modal --}}
      <div id="/user/folder/{{this._id}}" class="modal">
        <div class="modal-content">
          <div class="this-content">
            <h3>Add Folder</h3>
            <div class="row">
              <form action="/user/create-folder" class="col s12" method="POST">
                <div class="row">
                  <div class=" input-field col s12">
                    <input name="name" type="text" class="validate" value="{{this.name}}">
                    <label>Name:</label>
                  </div>
                  <div class="input-field col s12">
                    <div class="switch">
                      {{#if this.is_public}}
                      <label>
                        public
                        <input id="isPublic" type="checkbox" name="is_public" value="false">
                        <span class="lever"></span>
                        private
                      </label>
                      {{else}}
                      <label>
                        public
                        <input id="isPublic" type="checkbox" name="is_public" value="false" checked="true">
                        <span class="lever"></span>
                        private
                      </label>
                      {{/if}}
                    </div>
                  </div>
                </div>
                <button class="waves-effect waves-light btn-large login-module-btn">Save</button>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#modal3" class="modal-close waves-effect waves-green btn-flat">close</a>
        </div>
      </div>
      {{!-- end of edit modal --}}
    </div>
  </div>

</div>